<p id="notice"><%= notice %></p>

  Name: <%=@user.name %><br />
  Email: <%= @user.email %><br />
  Device_id: <%= @user.device_id %><br />
  Current Location: <%= @user.current_loc %><br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Show JSON', user_path(@user, :format => "json") %>

