<%= form_for(@game) do |f| %>
  Name: <%=f.text_field :name %><br />
  Hare: <%= f.text_field :hare %><br />
  Co-Hares: <%= f.text_field :co_hares %><br />
  Hounds: <%= f.text_field :hounds %><br />
  Created: <%= f.text_field :created_at %><br />
  Started: <%= f.text_field :started_at %><br />
  Location: <%= f.text_field :location %><br />

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
