<p id="notice"><%= notice %></p>

Name: <%= @game.name%><br />
Hare: <%= @game.hare%><br />
Co-Hares: <%= @game.co_hares.join(", ")%><br />
Hounds: <%= @game.hounds.join(", ")%><br />
Created: <%= @game.created_at %><br />
Started: <%= @game.started_at %><br />
Location: <%= @game.location.to_s %><br />
<br />
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %> | 
<%= link_to 'Start Game', start_game_path %> | 
<%= link_to 'End Game', end_game_path %> | 
<%= link_to 'Show JSON', game_path(@game, :format => "json") %>
