<p id="notice"><%= notice %></p>

Name: <%= @game.name%><br />
Hare: <%= @game.hare%>><br />
Co-Hares: <%= @game.co_hares.join(", ")%><br />
Hounds: <%= @game.hounds.join(", ")%><br />
Created: <%= @game.created %><br />
Started: <%= @game.started %><br />
Location: <%= @game.loc.to_s %><br />
<br />
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %> | 
<%= link_to 'Show JSON', get_json_game_path(@game) %>
